<div class="card mb-3" style="max-width: 900px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{user.image}}" alt="..." style="width: 300px; height:300px">
    </div>
    <div class="col-md-8">
      <div class="card-body ml-3 my-4">
        <h4 class="card-title ">名稱: {{user.name}}</h4>
        <h5 class="card-text my-5">信箱: {{user.email}}</h5>
        <a href="/users/{{user.id}}/edit" class="btn btn-primary">修改</a>
        <a href="/restaurants" class="btn btn-secondary">首頁</a>
      </div>
    </div>
  </div>
</div>